body{
    background-color: #e6e6e6;
}

.circles{
    border: solid 5px #f0f0f0;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    color: #f0f0f0;
}

.small-circles{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: black;
}

#design, #small-design{
    background-color: #e6563b;
}

#develop, #small-develop{
    background-color: #dea03d;
}

#support, #small-support{
    background-color: #7cb06c;
}

#host, #small-host{
    background-color: #00aba9;
}

#logo {
    height: 105px;
    width: 105px;
}

#logo-bar {
    height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 812px) {

}

@media screen and (min-width: 813px) {

}
