body{
    background-color: #e6e6e6;
}

.circles{
    border: solid 5px #f0f0f0;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    color: #f0f0f0;
}

.small-circles{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: black;
}

#design, #small-design{
    background-color: #e6563b;
}

#develop, #small-develop{
    background-color: #dea03d;
}

#support, #small-support{
    background-color: #7cb06c;
}

#host, #small-host{
    background-color: #00aba9;
}

#logo {
    height: 105px;
    width: 105px;
}

#logo-bar {
    height: 50px;
}

@media screen and (max-width: 480px) {
    .hide-items {
        display: none;
    }
    #logo-bar {
        display: flex;
        justify-content: center;
    }
    #logo {
        align-self: center;
    }
    #codeup-title {
        display: flex;
        justify-content: center;
    }
    #items {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    #logo-bar {
        display: flex;
        justify-content: center;
    }
    #logo {
        align-self: center;
    }
}

@media screen and (max-width: 1100px) {

}
